/* Selectors */
* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

div, input, select {

}

body {
  padding: 0;
  margin: 0;
}

header {
  display: block;
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid white;
}

fieldset {
  border: none;
}

input[type="text"],
[type="email"],
[type="tel"]{
  height: 50px;
  width: 100%;
  background-color: rgba(235, 236, 236);
  border: none;
  text-align: left;
}

#postcode {
    height: 50px;
    width: 50%;
    background-color: rgba(235, 236, 236);
    border: none;
    border:
}

#postcode:focus {
  border: 2px solid purple;
}

label[for="css-checkbox"],
[for="html-checkbox"],
[for="javascript-news"] {
  padding-left: 10px;
  padding-bottom: 20px;
}

select[name="user-state"] {
  height: 50px;
  width: 100%;
}

label {
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

input:focus, textarea:focus, select:focus{
  border: 2px solid purple;
}


textarea {
  background-color: rgba(235, 236, 236);
  border: none;
  width: 100%;
  height: 100px;
}

header h1 {
  font-size: 22px;
}

footer, p {
  font-style: italic;
  text-align: center;
}

p {
  text-align: left;
}

input[type="email"]::placeholder {
  text-align: right;
}

input[type="text"]::placeholder {
  text-align: right;
}
/* Classes & # */

.top-form-container {
  border: none;
}

.top-section {
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  margin-left: 7%;
  margin-right: 7%;
}


.first-fieldset {
  border-bottom: 2px solid black;
  margin-left: 7%;
  margin-right: 7%;
}


.second-fieldset {
  margin-top: 1em;
  margin-left: 7%;
  margin-right: 7%;
}

.full-name-container,
.email-address-container,
.phone-number-container,
.street-address-container,
.city-container,
.state-container,
.postcode-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.html-checkbox-container,
.css-checkbox-container,
.javascript-checkbox-container,
.newsletter-html-container,
.newsletter-text-container {
  display: flex;
  flex-direction: row;
}


.postcode-container {
  padding-bottom: 1em;
}



.sign-up-para {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0;
}

.heading-2 {
  text-align: center;
  font-weight: lighter;
  font-size: 1em;
  margin-top: 0.6em;
}

.legend {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 10px;
}

.button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #22C8A7;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 20px;
}

.button:hover {
  cursor: pointer;
  border: 2px solid purple;
}

.footer {
  text-align: center;
}


/* Media Queries */

@media screen and (min-width:768px) {
  .full-name-container,
  .email-address-container,
  .phone-number-container,
  .street-address-container,
  .city-container,
  .state-container,
  .postcode-container {
    flex-direction: row;
    margin-top: 1em;
    margin-left: 0;
  }

  label {
    width: 20%;
  }

  .top-section {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
  }

  .top-form-container {
    margin-left: 15%;
    margin-right: 15%;
  }

  label {
    width: 30%;
    padding-top: 5px;
    align-self: center;
  }

  #postcode {
      height: 50px;
      width: 25%;
      background-color: rgba(235, 236, 236);
      border: none;
  }

  .postcode-label {
    max-width: 23%;
  }
}
